<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Map接口的常用子类：HashMap/src/map/cn/HashMapDemo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="map.cn.HashMapDemo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Map接口的常用子类：HashMap"/>
</launchConfiguration>
